.arrow-top
  a(href="#")
    img(src="/img/scroll_top.png")

.footer
  .container
    .row
      .col-md-6.leftfooter
        ul
          li
            a(href="プルテキスト.html") プルテキスト
          li
            a(href="キス-トサンプ丿レテキストサン.html") キス トサンプ丿レテキストサン
      .col-md-6.rightfooter
        p ©2016 Sample