.sidebar_section
	.dummybanner
		a(href="/プルテキスト.html")
			img(src="/img/dummy_right1.png")
	.recommended
		.div
			h1 Recommended
			.list-rcomndd
				.row
					.leftimg.col-md-5
						a(href="/blog/サンプ丿レテキス%20トサンプ丿レテキス.html")
							img(src="/img/blogImg1.jpg")
					.rightdet.col-md-7
						a(href="/blog/サンプ丿レテキス%20トサンプ丿レテキス.html") サンプ丿レテキス トサンプ丿レテキス トサンプ丿レテキス トサン プ丿レテキストサンプ丿レテキス ト
						p.date 2016.03.26

			.list-rcomndd
				.row
					.leftimg.col-md-5
						a(href="/blog/サンプ丿レテキス%20トサンプ丿レテキス.html")
							img(src="/img/blogImg1.jpg")
					.rightdet.col-md-7
						a(href="/blog/サンプ丿レテキス%20トサンプ丿レテキス.html") サンプ丿レテキス トサンプ丿レテキス トサンプ丿レテキス トサン プ丿レテキストサンプ丿レテキス ト
						p.date 2016.03.26

			.list-rcomndd
				.leftimg.col-md-5
					a(href="/blog/サンプ丿レテキス%20トサンプ丿レテキス.html")
						img(src="/img/blogImg1.jpg")
				.rightdet.col-md-7
					a(href="/blog/サンプ丿レテキス%20トサンプ丿レテキス.html") サンプ丿レテキス トサンプ丿レテキス トサンプ丿レテキス トサン プ丿レテキストサンプ丿レテキス ト
					p.date 2016.03.26

	.right-banners-small
		ul
			li.dummyimgs
				a(href="/プルテキスト.html")
					img(src="/img/dummybanner-sm.jpg")
			li.dummyimgs
				a(href="/プルテキスト.html")
					img(src="/img/dummybanner-sm.jpg")
			li.dummyimgs
				a(href="/プルテキスト.html")
					img(src="/img/dummybanner-sm.jpg")