.slidersec
  .slider-mask
    .image-carousel
      .inner
        img(src='/img/slider1.jpg')
        img(src='/img/slider2.jpg')
        img(src='/img/slider3.jpg')
      .bubbles
      .prev
      .next