doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='this is front end exam for new job')
    meta(name='author', content= "Ephraim Neil Junsan")
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    title Examination - Ephraim Neil Junsan

    
    link(rel='stylesheet/scss', type='text/css', href='/css/image-slide.scss')
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/config.css")
    link(rel="stylesheet" href="/css/master.css")
    script(src='//cdnjs.cloudflare.com/ajax/libs/sass.js/0.6.3/sass.min.js')

    header
      include includes/header

    include includes/slider   

    body

      if _path == "/index.html"

        .container.text-left

          .row.pt-20

            .col-md-8.text-left
              block content

            .col-md-4.sidebarcontents
              include includes/sidebar
      else  

        block content

    footer

      include includes/footer

    != js()

    script(src='http://code.jquery.com/jquery-1.7.1.min.js')

    script.
      let carousels = document.getElementsByClassName('image-carousel');

      [].forEach.call(carousels, function (c) {
          let next = c.getElementsByClassName('next')[0],
              prev = c.getElementsByClassName('prev')[0],
              bubblesContainer = c.getElementsByClassName('bubbles')[0],
              inner = c.getElementsByClassName('inner')[0],
              imgs = inner.getElementsByTagName('img'),
              currentImageIndex = 0,
              width = 1400,
              bubbles = [];

          for (let i = 0; i < imgs.length; i++) {
              let b = document.createElement('span');
              b.classList.add('bubble');
              bubblesContainer.appendChild(b);
              bubbles.push(b);

              b.addEventListener('click', function () {
                  currentImageIndex = i;
                  switchImg();
              });
          }

          function switchImg () {
              inner.style.left = -width * currentImageIndex + 'px';
              
              bubbles.forEach(function (b, i) {
                  if (i === currentImageIndex) {
                      b.classList.add('active');
                  } else {
                      b.classList.remove('active');
                  }
              });
          }

          next.addEventListener('click', function () {
              currentImageIndex++;

              if (currentImageIndex >= imgs.length) {
                  currentImageIndex = 0;
              }

              switchImg();
          });

          prev.addEventListener('click', function () {
              currentImageIndex--;

              if (currentImageIndex < 0) {
                  currentImageIndex = imgs.length - 1;
              }

              switchImg();
          });

          switchImg();
      });
 
