extends layout

block content
  #list-blog
    .container
      #bodyblog
        h1.titleblog_inner=entry.title
        p.inner-blg-shrtdesc= entry.shortdesc
        h6
          i.fa.fa-tags(aria-hidden='true')
          !=entry.leadtag
        div.addthis_inline_share_toolbox        
        div.blog-body-inner
          != entry.body
        div#disqus_thread