.sidebar_section
    background #efefef
    padding 2px

.sidebarcontents
    .dummybanner
        text-align center
        padding 10px
        img
            width 100%

.recommended
    padding 0px 15px
    display flex
    .leftimg
        padding 0px
        img
            width 100%
            height 100px
    .rightdet
        padding 0px 10px
        a
            text-decoration none
            color #000
            font-weight bold
            font-size 12px
            letter-spacing -3px
        .date
            margin 0px
            font-size 12px
            font-weight 300
            font-family "Helvetica", sans-serif
            padding 5px 0px
            color #999999
    h1
        text-align center
        font-size 24px
        color #000
        font-weight bold
        border-bottom solid 2.3px
        padding-bottom 5px
    .list-rcomndd
        margin-bottom 10px

.list-rcomndd
    &:hover
        a
            color #e7ba2f !important

body
    .row
        display -webkit-box
        display -webkit-flex
        display -ms-flexbox
        display flex

.right-banners-small
    padding 20px 20px
    ul
        padding 0px
        li
            list-style none
            img
                width auto

.footer
    background #000
    .container
        padding 10px
        p
            padding 0px 10px !important
            margin auto
            font-size 13px !important

.footer a, .footer p
    color #fff

.leftfooter
    ul
        padding 0px !important
        li
            display inline
            margin-right 20px
            padding 0px !important
            a
                font-size 13px
                text-decoration none
                &:hover
                    color #e7ba2f

.rightfooter
    p
        font-size 13px
        text-decoration none
        text-align right

.footer ul,
.footer .row,
.footer .col-md-6
    padding 0px
    margin 0px

.published
    date
        font-size 13px

.news-items
    margin 10px 0px 20px
    &:hover
        a
            color #e7ba2f !important
    .blog-det
        a
            font-size 18px !important
            font-weight bold
            color #000
            text-decoration none
    .col-sm-5
        img
            width 100%
    .col-sm-7
        padding 5px 0px 0px 10px
    .short-desc
        p
            font-size 13px
            margin 5px 0px 0px
            letter-spacing -3px

.more
    padding 40px 0px 80px
    text-align center
    a
        padding 10px 170px 10px
        background #000
        color #fff
        text-decoration none
        font-weight bold
        position relative
        &:after
            content ">"
            font-family "georgia", sans-serif
            position absolute
            right 20px
            top 8px !important
            font-size 18px

.arrow-top
    text-align right
    margin-right 100px

.image-carousel
    width 100%
    height 415px
    overflow hidden
    position relative
    .inner
        display flex
        position absolute
        left 0
        transition left 0.25s ease-out
    .bubbles
        display flex
        justify-content center
        position absolute
        bottom 0
        left 0
        right 0
        margin-bottom 5px
        .bubble
            margin 2.5px
            background-color white
            border-radius 100000px
            width 10px
            height 10px
            display inline-block
            opacity 0.25
            transition opacity 0.1s linear
            cursor pointer
            &:hover
                opacity 0.65
            &.active
                opacity 1
                background-color #e7ba2f
    .prev
        &::after
            content '<' !important
            left 0

.image-carousel .next::after, .image-carousel .prev::after
    content '>'
    position absolute
    top 50%
    right 0
    font-size 50px
    width 1em
    height 3em
    font-family sans-serif
    transform translateY(-50%)
    line-height 3em
    box-sizing border-box
    padding 0 0.2em
    cursor pointer
    transition opacity 0.1s linear
    color #fff
    font-family "Oswald",sans-serif

.image-carousel .next:hover::after, .image-carousel .prev:hover::after
    opacity 1

#contentgenerla,
#post-blog
    padding 0px 30px 0px 0px

#post-blog
    img
        width 100%

.slidersec-banner
    height 240px
    background url(/img/banner_general.jpg) fixed

.blog-body-inner
    p
        font-size 14px
        font-weight bold