@import '_settings'
@import '_style'

normalize-css()
base()

/* - - font family - -*/

@font-face
    font-family: yugothib
    src: url(/fonts/yugothib/yugothib.ttf)

@font-face
    font-family: yugothib
    src: url(/fonts/yugothil/yugothil.ttf) 


/*--------------------*/

body
  padding: 0px
  font-family: yugothib

body img
  max-width:100%


header h1
    font-size:20px